*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-style: italic;
    width: 100vw;
    overflow-x: hidden;
}

.Naviagtion{
    display: flex;
    background-color: grey;
    width: 100vw;
    justify-content: space-around;
    height: 12vh;
}

.logo{
    display: flex;
    align-items: center;
}

.webname{
    font-size: xx-large;
}

.option{
    display: flex;
    padding-left: 100px;
    text-align: center;
    justify-content: center;
}

.option ul{
    display: flex;
    list-style: none;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.option li{
    padding: 0.2rem;
    width: 80px;
}

.nav{
    /* margin-left: 180px; */
    font-size: larger;
    text-decoration: none;
    color: white;
}

.nav:hover{
    font-size: x-large;
    color: greenyellow;
}

.greeting{
    align-items: center;
    height: 100px;
    display: flex;
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
}

.nav_name{
    text-align: center;
    margin-top: 35px;
    text-decoration: underline;
}

.proj{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.proje {
    font-size: 22px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 150px;
    justify-content: space-evenly;
}

.proje li{
    margin: 1rem;
    margin-bottom: 60px;
}

.projec{
    color: black;
    text-decoration: none;
}

.me{
    display: flex;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.para{
    width: 50%;
}

.button{
    margin-top: 60px;
    margin-bottom: 60px;
}

@media screen and (max-width:720px) {
    .option{
        display: none;
    }
}

form{
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.input-group{
    margin-bottom: 30px;
    position: relative;
}

input, textarea{
    width: 30%;
    padding: 10px;
    outline: 0;
    border: 1px solid black;
    background: transparent;
    color: #fff;
    font-size: 15px;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    padding-left: 330px;
    color: black;
    cursor: text;
}

.footer{
    height: 100px;
    background-color: black;
    justify-content: space-evenly;
    display: flex;
    text-align: center;
    align-items: center;
}

.b2{
    color: white;
}

.footer a{
    color: white;
    text-decoration: none;
}

.follow{
    color: white;
}

.icons a i{
    color: white;
    font-size: x-large;
}