*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    font-style: italic;
    width: 100vw;
}

.Naviagtion{
    display: flex;
    background-color: grey;
    width: 100vw;
    justify-content: space-around;
    height: 12vh;
}

.logo{
    display: flex;
    align-items: center;
}

.webname{
    font-size: xx-large;
}

.option{
    display: flex;
    text-align: center;
    justify-content: center;
}

.option ul{
    display: flex;
    list-style: none;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.option li{
    padding: 0.2rem;
    width: 80px;
}

.nav{
    font-size: larger;
    text-decoration: none;
    color: white;
}

.nav:hover{
    font-size: x-large;
    color: greenyellow;
}

.greeting{
    align-items: center;
    height: 100px;
    display: flex;
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
}

.nav_name{
    text-align: center;
    margin-top: 35px;
    text-decoration: underline;
}

.proj{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.proje {
    font-size: 22px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    /* margin-top: 60px;
    margin-left: 150px; */
    justify-content: space-evenly;
}

.proje li{
    margin: 1rem;
    margin-bottom: 60px;
}

.projec{
    color: black;
    text-decoration: none;
}

.me{
    display: flex;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.para{
    width: 50%;
}

.button{
    margin-top: 60px;
    margin-bottom: 60px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

input, textarea{
    /* width: 75%; */
    padding: .5rem;
    outline: 0;
    border: 1px solid black;
    background: transparent;
    color: black;
    font-size: 15px;
}

label{
    width: 10%;
    height: 100%;
    color: black;
    cursor: pointer;
}

.footer{
    height: 100px;
    background-color: black;
    justify-content: space-evenly;
    display: flex;
    text-align: center;
    align-items: center;
}

.b2{
    color: white;
}

.footer{
    height: auto;
}

.footer a{
    color: white;
    text-decoration: none;
}

.follow{
    color: white;
}

.icons a i{
    color: white;
    font-size: x-large;
}

.ham{
    display: none;
}

@media screen and (max-width:720px){
    .Naviagtion{
        flex-direction: column;
        height: auto;
    }
    label{
        width: 100%;
    }
    .footer{
        flex-direction: column;
        align-items: center;
    }
    body{
        overflow-x: hidden;
    }
    .input-group{
        flex-direction: column;
    }
    .option{
        display: none;
    }
    
    .ham{
        display: inline-block;
        color: black;
        z-index: 1;
    }
    .option.active{
        display: block;
        position: absolute;
        top: 30px;
        background-color: gray;
        width: 100%;
    }
    .option ul{
        flex-direction: column;
    }
    
}


